In [5]:
import pandas as pd
import pickle

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 25)
pd.set_option('display.precision', 3)

In [4]:
with open('data/pickles/features_29columns.pickle','rb') as read_file:
    df = pickle.load(read_file)

,Graduation_Rate_School,School_ID,School_Year,Student_Count_Total,Zip_y,Zip_Mean_Income,Fully Accessible,Generally accessible,Student_Count_Asian_perc,Student_Count_Asian_Pacific_Islander_perc,...,Brown,Green,Orange,Pink,Purple,Red,Dress_Code_dummie,grades_offered_count,charter,gender_f
0,80.9,609764,School Year 2016-2017,1739,60608.0,"53,353",0,1,0.002875,0.0,...,0,0,0,1,0,1,0,4,0,False
1,78.6,609764,School Year 2017-2018,1706,60608.0,"57,770",0,1,0.005862,0.0,...,0,0,0,1,0,1,0,4,0,False
2,82.8,400104,School Year 2016-2017,742,60608.0,"53,353",0,0,0.000000,0.0,...,0,0,1,1,0,0,1,4,1,True
3,85.0,400104,School Year 2017-2018,745,60608.0,"57,770",0,0,0.000000,0.0,...,0,0,1,1,0,0,1,4,1,True
4,1.7,609748,School Year 2016-2017,199,60608.0,"53,353",0,0,0.000000,0.0,...,0,0,0,0,0,0,0,4,0,True

In [6]:
df.head(5)

,Graduation_Rate_School,School_ID,School_Year,Student_Count_Total,Zip_y,Zip_Mean_Income,Fully Accessible,Generally accessible,Student_Count_Asian_perc,Student_Count_Asian_Pacific_Islander_perc,Student_Count_Black_perc,Student_Count_English_Learners_perc,Student_Count_Ethnicity_Not_Available_perc,Student_Count_Hawaiian_Pacific_Islander_perc,Student_Count_Hispanic_perc,Student_Count_Low_Income_perc,Student_Count_Multi_perc,Student_Count_Native_American_perc,Student_Count_Other_Ethnicity_perc,Student_Count_Special_Ed_perc,Student_Count_White_perc,Classroom_Languages_count,Blue,Brown,Green,Orange,Pink,Purple,Red,Dress_Code_dummie,grades_offered_count,charter,gender_f
0,80.9,609764,School Year 2016-2017,1739,60608.0,"53,353",0,1,0.003,0.0,0.033,0.190,0.006,0.0,0.945,0.954,0.002,0.003,0.0,0.162,0.007,2.0,1,0,0,0,1,0,1,0,4,0,False
1,78.6,609764,School Year 2017-2018,1706,60608.0,"57,770",0,1,0.006,0.0,0.031,0.201,0.008,0.0,0.943,0.626,0.004,0.004,0.0,0.162,0.006,2.0,1,0,0,0,1,0,1,0,4,0,False
2,82.8,400104,School Year 2016-2017,742,60608.0,"53,353",0,0,0.000,0.0,0.032,0.228,0.000,0.0,0.962,0.970,0.000,0.001,0.0,0.197,0.004,1.0,1,0,0,1,1,0,0,1,4,1,True
3,85.0,400104,School Year 2017-2018,745,60608.0,"57,770",0,0,0.000,0.0,0.019,0.286,0.001,0.0,0.974,0.930,0.000,0.003,0.0,0.196,0.003,1.0,1,0,0,1,1,0,0,1,4,1,True
4,1.7,609748,School Year 2016-2017,199,60608.0,"53,353",0,0,0.000,0.0,0.774,0.010,0.000,0.0,0.181,0.874,0.000,0.015,0.0,0.291,0.030,NaN,0,0,0,0,0,0,0,0,4,0,True

In [7]:
len(df)

236